[package]
name = "frame-analyzer-ebpf"
edition = "2021"
version.workspace = true
authors.workspace = true
repository.workspace = true
description.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
# 删除default-run = false，该配置仅支持字符串值
autobins = false       # 禁用自动二进制目标生成
autoexamples = false   # 禁用自动示例目标生成
autotests = false      # 禁用自动测试目标生成
autobenches = false    # 禁用自动基准测试目标生成

[dependencies]
aya-ebpf = { workspace = true, features = ["no_std"] }
cty = { workspace = true }
frame-analyzer-ebpf-common = { workspace = true, features = ["bpf"] }

[lib]
crate-type = ["cdylib"]
path = "src/main.rs"
name = "frame_analyzer_ebpf"

[features]
ebpf = []
default = ["ebpf"]

[profile.release]
panic = "abort"
lto = true
opt-level = 3
codegen-units = 1
