[package]
name = "frame-analyzer-ebpf"
edition = "2021"
version.workspace = true
authors.workspace = true
repository.workspace = true
description.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
build = "build.rs"
default-run = "frame-analyzer-ebpf"
# 移除default-target，避免依赖实验性特性

[dependencies]
aya-ebpf = { workspace = true, features = ["cty"] }
frame-analyzer-ebpf-common = { path = "../frame-analyzer-ebpf-common", workspace = true, features = ["bpf"] }

[[bin]]
name = "frame-analyzer-ebpf"
path = "src/main.rs"
# 移除bin块的target，改由config.toml统一指定

[profile.dev]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = true
panic = "abort"
incremental = false
codegen-units = 1
rpath = false

[profile.release]
lto = true
panic = "abort"
codegen-units = 1

[build-dependencies]
aya-tool = { workspace = true }
