[package]
name = "frame-analyzer"
readme.workspace = true
edition.workspace = true
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
aya = { workspace = true }
frame-analyzer-ebpf-common = { workspace = true, features = ["user"] }
anyhow = { workspace = true }
libc = { workspace = true }
thiserror = { workspace = true }
ctor = { workspace = true } # 改为继承工作区版本，消除手动指定的版本差异
ctrlc = { workspace = true }
mio = { workspace = true }
once_cell = { workspace = true } # 改为继承工作区版本

[build-dependencies]
anyhow = { workspace = true }
cc = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[package.metadata]
supported-targets = ["aarch64-linux-android", "aarch64-unknown-linux-gnu"]
