[package]
name = "frame-analyzer-ebpf-common"
edition.workspace = true
version.workspace = true
authors.workspace = true
description.workspace = true
repository.workspace = true
license.workspace = true
documentation.workspace = true
homepage.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true

[features]
default = []
# 删除libc/android，该特性不存在，仅保留dep:aya
user = ["dep:aya"]
bpf = ["dep:aya-ebpf"]

[dependencies]
aya = { workspace = true, optional = true }
aya-ebpf = { workspace = true, optional = true }
libc = { workspace = true }

[lib]
path = "src/lib.rs"
crate-type = ["lib", "staticlib", "cdylib"]
name = "frame_analyzer_ebpf_common"
